body {
	min-width: 300px;
	min-height: 200px;
	font-family: Helvetica, Arial, sans-serif;
}

#title {
	text-align: center;
}

input[type=number] {
	width: 40px;
}

.timer {
  padding: 10px;
  text-align: center;
  padding-top: 15px;
}
 
.timer .timer-wrapper {
  display: inline-block;
  width: 60px;
  height: 50px;
}
 
.timer .timer-wrapper .time {
  font-size: 28px;
  font-weight: bold;
  color: #000000; 
}

.timer .timer-wrapper .text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
